<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root level to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Enable DEBUG for HomeKit classes -->
    <logger name="org.openhab.io.homekit" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Enable TRACE for SRP6 specifically -->
    <logger name="org.openhab.io.homekit.protocol.crypto" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Enable DEBUG for test classes -->
    <logger name="org.openhab.io.homekit.test" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration> 